body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.header-top {
    width: 100%;
    height: 60px;
    background: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.header-top img {
    width: 30px;
    height: 27.63;
}

.A1 {
    color: 333333;
    font-size: 20px;
    font-weight: 600;
}

.icon-lines div {
    width: 35px;
    height: 5px;
    background-color: 333333;
    margin: 6px 0;
}
.botões-desktop{
    display: none;
}

.responsive-menu ul {
    color: white;
    background-color: 333333;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0;
    margin: 0;
    padding-inline-start: 0;
    display: none;
    z-index: 1;
}

.responsive-menu ul li {
    text-align: right;
    margin: 7px 0;
    list-style-type: none;
    padding: 7px 20px 7px 0;
    font-size: 16px;
}

.responsive-menu ul li:nth-child(1) {
    text-align: left;
    background-color: 333333;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.responsive-menu ul li:hover:nth-child(1) {
    background-color: 333333;
    color: white;
}

.responsive-menu ul li:hover {
    background-color: c4c4c4;
    color: 333333;
}

.responsive-menu:hover ul {
    display: block;
}
.botão-x{
    text-decoration:none;
    color: white;
}

.blocoB {
    color: 333333;
    max-width: 728px;
    width: calc(100% - 40px);
    border-color: #979797;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    justify-content: center;
    font-size: 14px;
    padding: 26px 0;
    margin: 0 auto;
}

.div-opções {
    color: #888888;
}

.div-select {
    width: 100%;
    max-width: 728px;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #979797;
    box-shadow: 0;
    box-sizing: border-box;
}

.caixa-nome-mercadoria {
    padding-top: 20px;
    padding-bottom: 20px;
}

.adic-transação {
    padding-top: 20px;
}

.botão-transação {
    width: 100%;
    background-color: 333333;
    color: white;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

.blocoC {
    max-width: 768px;
    width: calc(100% - 40px);
    color: black;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.div-extrato {
    position: absolute;
    max-width: 768px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 41px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.c1 {
    max-width: 768px;
    width: 100%;
    padding-top: 80px;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
}

#tit-mercadoria {
    align-items: left;
}

.borda-inferior {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #979797;
}

.final-tab {
    padding-top: 11px;
}

.lucro {
    font-size: 10px;
}

table {
    border-collapse: collapse;
    font-size: 14px;
}

tr.spaceUnder>td {
    padding-top: 11px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #979797;
}


.spaceRigth {
    text-align: right;
}

.spaceleft {
    text-align: left;

}

@media(max-width: 411px) {
    .blocoB {
        color: 333333;
        max-width: 728px;
        width: calc(100% - 40px);
        border-color: #979797;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        justify-content: center;
        font-size: 14px;
        padding: 26px 0px 0 0px;
        margin: 0 auto;
    }

    .tit-nvtransação {
        display: none;
    }
}

@media(min-width: 0px) and (max-width: 767px) {
    .tit-nvtransação {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1112px) {
    .responsive-menu ul {
        color: white;
        background-color: 333333;
        position: fixed;
        height: 100%;
        width: 32.8%;
        right: 0px;
        top: 0;
        margin: 0;
        padding-inline-start: 0;
        display: none;
        z-index: 1;
    }

    .blocoB {
        max-width: 1112px;
        width: calc(100% - 40px);
        color: black;
        display: flex;
        justify-content: center;
        border-bottom-style: none;
        border-bottom-width: 0;
        color: 333333;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin: 0;

    }

    .B1 {
        max-width: 1112px;
        width: 100%;
        height: 189px;
        border-style: solid;
        border-color: #979797;
        border-width: 1px;
        border-radius: 4px;
        box-shadow: 0;
        box-sizing: border-box;
    }

    .tit-nvtransação {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        color: black;
        align-items: center;
        text-align: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .caixa-tipo-transação {
        width: calc(25% - 40px);
        height: 32px;
        position: relative;
        padding: 0 20px 20px 20px;

    }

    .caixa-nome-mercadoria {
        width: 50%;
        height: 32px;
        position: relative;
        padding: 0 0 20px 0;

    }

    .caixa-valor {
        width: calc(25% - 40px);
        height: 32px;
        position: relative;
        padding: 0 20px 20px 20px;
    }

    .div-select {
        width: none;
        max-width: none;
        height: none;
        border-radius: 4px;
        border-width: 1px;
        border-color: #979797;
        box-shadow: 0;
        padding: 0;
    }

    .adic-transação {
        color: white;
        width: 200px;
        height: 32px;
        border-radius: 4px;
        border-width: 1px;
        text-align: center;
        position: relative;
        padding: 20px 20px 20px 508px;

    }

    .blocoC {
        max-width: 1112px;
        width: calc(100% - 40px);
        color: black;
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .c1 {
        max-width: 1112px;
        width: 100%;
        padding-top: 80px;
        justify-content: space-around;
        font-size: 14px;
        align-items: center;
    }

    .br-movel {
        display: none;
    }

}

@media (min-width: 1112px) and (max-width: 1499px) {
    .header-top {
        width: 100%;
        height: 80px;
    }
    .header-top img {
        width: 40px;
        height: 36.84;
        padding-right: 20px;
    }
    .A1 {
        color: 333333;
        font-size: 20px;
        font-weight: 600;
        width: 411px;
        padding-right: calc(100% - 1000px);
    }
    .icon-lines{
        display: none;
    }
    .responsive-menu{
        height: 40px;
        width: 507px;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        position: relative;
        background-color: white;
        display: flex;
    }
    .botões-desktop{
        height: 40px;
        width: 506px;
        color: 333333;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        
    }
    .botões-desktop a{
        padding: 4px 20px 4px 20px;
        position: relative;
        color: 333;
        text-decoration:none;
    }
    .line{
        border-left-style: solid;
        border-right-style: solid;
        border-left-width: 1px;
        border-right-width: 1px;
        border-color: 979797;
    }
    .responsive-menu ul {
        display: none;
    }
    
    .responsive-menu ul li:nth-child(1) {
        display: none;
    }
    
    .responsive-menu ul li:hover:nth-child(1) {
        display: none;
    }
    
    .responsive-menu ul li:hover {
        display: none;
    }
    
    .responsive-menu:hover ul {
        display: none;
    }
    .div-blocos{
        position: absolute;
    }

    .blocoB {
        color: 333333;
        width: 36%;
        position: relative;
        border-style: none;
        justify-content: left;
        display: inline-block;
        font-size: 14px;
        padding: 26px 20px 0 20px;
        margin: 0;
        float: left;
        
    }

    .B1 {
        width: 100%;
        height: 344px;
        border-style: solid;
        border-color: #979797;
        border-width: 1px;
        border-radius: 4px;
        box-shadow: 0;
        box-sizing: border-box;
        padding: 0px 15px 0 15px;
    }

    .tit-nvtransação {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        color: black;
        align-items: center;
        text-align: center;
    }

    .blocoC {
        position: relative;
        max-width: none;
        width: calc(64% - 40px);
        color: black;
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        padding: 46px 20px 40px 0px;
        margin: 0 auto;
        box-sizing: border-box;
        float: right;
    }

    .div-extrato {
        max-width: none;
        width: 174px;
        padding-top: 0px;
        padding-left: calc(50% - 87px);
        padding-bottom: 41px;
        font-size: 18px;
    }

    .c1 {
        max-width: none;
        width: 100%;
        padding-top: 80px;
        justify-content: space-around;
        font-size: 14px;
        align-items: center;
    }
}
@media (min-width: 1500px){
    .header-top {
        width: 100%;
        height: 80px;
        padding: 0 200px 0 200px;
        }
    .header-top img {
        width: 40px;
        height: 36.84;
        padding-right: 20px;
    }
    .A1 {
        color: 333333;
        font-size: 20px;
        font-weight: 600;
        width: 411px;
        padding-right: calc(100% - 740px);
    }
    .icon-lines{
        display: none;
    }
    .responsive-menu{
        height: 40px;
        width: 540px;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        position: relative;
        display: flex;
        align-content: space-between;
    }
    .botões-desktop{
        height: 40px;
        width: 506px;
        color: 333333;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        background-color: white;
        
    }
    .botões-desktop a{
        padding: 4px 20px 4px 20px;
        position: relative;
        color: 333;
        text-decoration:none;
    }
    .line{
        border-left-style: solid;
        border-right-style: solid;
        border-left-width: 1px;
        border-right-width: 1px;
        border-color: 979797;
    }
    .responsive-menu ul {
        display: none;
    }
    
    .responsive-menu ul li:nth-child(1) {
        display: none;
    }
    
    .responsive-menu ul li:hover:nth-child(1) {
        display: none;
    }
    
    .responsive-menu ul li:hover {
        display: none;
    }
    
    .responsive-menu:hover ul {
        display: none;
    }

    .blocoB {
        color: 333333;
        width: 26.66%;
        position: relative;
        border-style: none;
        justify-content: left;
        display: inline-block;
        font-size: 14px;
        padding: 10px 20px 0 200px;
        margin: 26px 0;
        float: left;
    }

    .B1 {
        width: 100%;
        height: 344px;
        border-style: solid;
        border-color: #979797;
        border-width: 1px;
        border-radius: 4px;
        box-shadow: 0;
        box-sizing: border-box;
        padding: 0px 15px 0 15px;
        margin: 0 auto;
    }

    .tit-nvtransação {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        color: black;
        align-items: center;
        text-align: center;
    }

    .blocoC {
        position: relative;
        max-width: none;
        width: calc(100% - 26.66% - 420px);
        color: black;
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        padding: 50px 200px 40px 0px;
        margin: 0 auto;
        float: right;
    }

    .div-extrato {
        max-width: none;
        width: 174px;
        padding-top: 0px;
        padding-left: calc(50% - 87px - 100px);
        padding-bottom: 41px;
        font-size: 18px;
    }

    .c1 {
        max-width: none;
        width: 100%;
        padding-top: 80px;
        justify-content: space-around;
        font-size: 14px;
        align-items: center;
    }
}