body {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.header-top {
    min-width: 100%;
    max-width: 100%;
    height: 60px;
    background: #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top img {
    width: 30px;
    height: 27, 63;
}

.A1 {
    color: 333333;
    font-size: 20px;
    font-weight: 600;
}

.icon-lines div {
    width: 35px;
    height: 5px;
    background-color: 333333;
    margin: 6px 0;
}

.responsive-menu ul {
    color: white;
    background-color: 333333;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0;
    margin: 0;
    padding-inline-start: 0;
    display: none;
    z-index: 1;
}

.responsive-menu ul li {
    text-align: right;
    margin: 7px 0;
    list-style-type: none;
    padding: 7px 20px 7px 0;
    font-size: 16px;
}

.responsive-menu ul li:nth-child(1) {
    text-align: left;
    background-color: 333333;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.responsive-menu ul li:hover:nth-child(1) {
    background-color: 333333;
    color: white;
}

.responsive-menu ul li:hover {
    background-color: c4c4c4;
    color: 333333;
}

.responsive-menu:hover ul {
    display: block;
}

.blocoB {
    color: 333333;
    max-width: 768px;
    width: 90.26%;
    border-color: #979797;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    justify-content: center;
    font-size: 14px;
    padding: 26px 20px 0 20px;
    margin: 0 auto;
}

.div-opções {
    color: #888888;
}

.div-select {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #979797;
    box-shadow: 0;
    box-sizing: border-box;
}

.caixa-nome-mercadoria {
    padding-top: 20px;
    padding-bottom: 20px;
}

.botão-transação {
    width: 100%;
    background-color: 333333;
    color: white;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
}

.blocoC {
    max-width: 768px;
    width: 90.26%;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 20px;
    margin: 0 auto;
}

.div-extrato {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 41px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.c1 {
    max-width: 768px;
    width: 100%;
    padding-top: 80px;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
}

#tit-mercadoria {
    align-items: left;
}

.borda-inferior {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #979797;
}

.borda-superior {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #979797;
}

.final-tab {
    padding-top: 11px;
}

.lucro {
    font-size: 10px;
}

table {
    border-collapse: collapse;
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1112px) {
    .responsive-menu ul {
        color: white;
        background-color: 333333;
        position: fixed;
        height: 100%;
        width: 32.8%;
        right: 0px;
        top: 0;
        margin: 0;
        padding-inline-start: 0;
        display: none;
        z-index: 1;
    }

    .blocoB {
        border-bottom-style: none;
        background-color: aquamarine;
        color: 333333;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 26px;
    }

    .div-opções {
        width: 150px;
        height: 32px;
    }

    .caixa-nome-mercadoria {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .botão-transação {
        background-color: 333333;
        color: white;
        width: 371px;
        height: 32px;
        border-radius: 4px;
        border-width: 1px;
        text-align: center;
    }

    br {
        display: none;
    }

}